
body{
    margin: auto;
    text-align: center;

}
button{
    width: 100px;
    height: 50px;
    border: 5px;
    background-color: blue;
    color: white;
}

button:hover{
    background-color: red;
}
.main{
    margin: auto;
    width: 800px;
    height: 300px;
    border: 0.5px solid black;
}
.container{
    margin-top: 50px;
}

@media only screen and (max-width:800px){
    body{
        margin: auto;
        width: 600px;
        height: 100vh;
    }
    .main{
        margin: auto;
        width: 400px;
        height: 200px;
        border: 0.5px solid black;
    }
    button{
        width: 70px;
        height: 20px;
        border: 5px;
        background-color: blue;
        color: white;
    }
    .container{
        margin-top: 20px;
    }
}